@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    box-sizing: border-box;
}

:root{
    --container-color: #1a1e21 ;
    --second-color: #ee6707 ;
    --text-color: #172317 ;
    --bg-color: #f9f9f9 ;
}

::selection{
    color: var(--bg-color);
    background: var(--second-color);
}

.post-link.hidden {
    display: none;
}

.carousel-item {
    height: 600px;
  }
  
  .carousel-item img {
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: 768px) {
    .carousel-item {
        height: auto;
    }
  } 

  section .nav .logo {
    text-decoration: none;
  }
  section .nav .logo:hover{
    text-decoration: none;
    color:  #bdc3c7;
  }

a{
    text-decoration: none;
}
li{
    list-style: none;
}
img {
    width: 100%;
}
section{
    padding: 3rem 0 2rem;
}

.contain{
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

.container .justify-content-end .btn-dark{
    background: var(--second-color);
   }
   

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:68px;
    background: var(--container-color);
    z-index: 200;  
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
}
.logo{
    font-size: 1.5rem;
    font-weight: 600;
    color: #bdc3c7;
}

.logo span{
    color: var(--second-color);
}

.navLink{
    color: var(--second-color);
    margin-right: 20px;
}

.justify-content-end a:hover{
    background-color:rgb(59, 59, 59) !important;
   }

.whats{
   position: fixed; bottom: 30px; right: 30px; z-index: 9999;
}
.likedin{
    position: fixed; bottom: 90px; right: 30px; z-index: 9999;
 }

.nav .whats img{
    width:50px;
   }

.nav .likedin img{
    width:50px;
   }

.home{
    width: 100%;
    min-height: 440px;
    background: var(--container-color);
    display: grid;
    justify-content: center;
    align-items: center;
}
.home-text{
    color:var(--bg-color);
    text-align: center;
}
.home-title{
    font-size: 3.5rem;
}
.home-subtitle{
    font-size: 1rem;
    font-weight: 400;
}

.post .post-link .post-box{
    text-decoration:none;
   }
   
   .post .post-link{
    color:#0e0e0f;
    text-decoration:none;
   }

.post{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,auto));
    justify-content: center;
    gap: 1.5rem;
}
.post .post-link .post-box{
    background: var(--bg-color);
    box-shadow: 0 4px 14px hsl(355deg 25% 15% / 10%);
    padding: 15px;
    border-radius: 0.5rem;
}
.post .post-box h5{
    font-weight:300;
    font-size:16px;
   }

   .post .post-box h2{
    position:relative;
    top:4px;
   }

   #ver-mais-button {
    display: block;
    margin: 0 auto; /* Isso centraliza o botão horizontalmente */
    background: var(--second-color);
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

   #ver-mais-button:hover{
    background-color:rgb(59, 59, 59) !important;
   }
     
.post-img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
}
.post-box:hover img {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}


   .post .profile span{
    font-weight:600;
   }
 .post-title{
     font-size: 1.3rem;
    font-weight: 600;
    color: var(--text-color);
    
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.post-description{
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin: 5px 0 10px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.profile{
    display: flex;
    align-items: center;
    gap: 10px;
}
.profile-img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 2px solid var(--second-color);
}


.profile-area{
    padding: 80px 0;
    padding-bottom: 10px;
}
.profile-area .perfil .main-text{
    position:relative;
    top:-29px;
   }




.card.perfil{
box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
overflow: hidden;
border-radius: 15px;
}

.post .post-box .cardImg{
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}

.img1 img{
    height: 200px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%;
}
.img2 img{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 7px solid #fff;
    margin-top: -80px;
}

.main-text{
    padding: 30px 0;
    text-align: center;
}
.main-text h2{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20px;
    margin: 0 0 5px;
}
.main-text p{
    font-size: 16px;
    padding: 0 35px;
  
}
.perfil .main-text p{
  letter-spacing:-1px;
  text-align:justify;
 }
.socials{
    text-align: center;
    padding-bottom: 20px;
}
.socials i{
    font-size: 20px;
    color: var(--second-color);
    padding: 0 10px;
}

#footer {
    color:var(--text-color);
    font-size: 12px;
    position: relative; /* Alterado para relative */
    bottom: -200px; /* Adicionado para fixar na parte inferior */
    width: 100%;
    background-color: var(--bg-color);
}


/* Carrossel */
.slider{
    border-radius: 10px;
    width: 1300px;
    max-width: 100vw;
    height: 550px;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.slider .list{
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1.5s;
}
.slider .list img{
    width: 1300px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}
.slider .buttons{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.slider .buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}
.slider .dots{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.slider .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.slider .dots li.active{
    width: 30px;
}
@media screen and (max-width: 768px){
    .slider{
        height: 400px;
    }
}






/*Card Novo*/
html {
    font-family: sans-serif;
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .text-center {
    text-align: center;
  }
  
  .color-white {
    color: #fff;
  }
  
  .box-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 100px 15px;
    width: 100%;
  }
  
  @media screen and (min-width:1380px) {
    .box-container {
      flex-direction: row
    }
  }
  
  .box-item {
    position: relative;
    -webkit-backface-visibility: hidden;
    width: 415px;
    margin-bottom: 35px;
    max-width: 100%;
  }
  
  .flip-box {
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    perspective: 1000px;
    -webkit-perspective: 1000px;
  }
  
  .flip-box-front,
  .flip-box-back {
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    min-height: 475px;
    -ms-transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
    transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
    -webkit-transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-front {
    -ms-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  .flip-box-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-back {
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  .flip-box .inner {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 20px;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
    
    transform: translateY(-50%) translateZ(60px) scale(.94);
    -webkit-transform: translateY(-50%) translateZ(60px) scale(.94);
    -ms-transform: translateY(-50%) translateZ(60px) scale(.94);
    top: 50%;
  }
  
  .flip-box-header {
    font-size: 34px;
  }
  
  .flip-box p {
    font-size: 20px;
    line-height: 1.5em;
  }
  
  .flip-box-img {
    margin-top: 25px;
  }
  
  .flip-box-button {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    margin-top: 25px;
    padding: 15px 20px;
    text-transform: uppercase;
  }




/*REDES SOCIAIS DE BAIXO*/


  .social-card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    background: rgba(255, 255, 255, 0);
    padding: 20px 25px;
    border-radius: 14px;
  }
  .Btn {
    width: 44px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .svgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(0px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.466);
    z-index: 2;
  }
  
  .BG {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #181818;
    z-index: 1;
    border-radius: 10px;
    pointer-events: none;
    transition: all 0.3s;
    font-size: 0px;
  }
  .github .BG {
    background: #181818;
  }
  .linkdin .BG {
    background: #0077b5;
  }
  .whatsapp .BG {
    background: #075e54;
  }
  .discord .BG {
    background: #7289da;
  }
  .Btn:hover .BG {
    transform: scale(1.5);
    /* transform-origin: bottom; */
    font-size: 20px;
    color: white;
  }
  
  .Btn:hover .svgContainer {
    border: 1px solid rgba(216, 216, 216, 0.466);
    background-color: rgba(209, 209, 209, 0.466);
    backdrop-filter: blur(4px);
  }
  




 
/*TEXTO SOBRE O PROJETO*/
  .fancy {
    --b: 6px;   /* control the border thickness */
    --w: 358px;  /* control the width of the line*/
    --g: 15px;  /* control the gap */
    --c: #dd6300;
   
    width: fit-content;
    padding: 0 1em;
    line-height: 1.6em;
    border: 1px solid;
    color: #fff;
    background: 
      conic-gradient(from   45deg at left ,var(--c) 25%,#0000 0) 0,
      conic-gradient(from -135deg at right,var(--c) 25%,#0000 0) 100%;
    background-size: 51% 100%;
    background-origin: border-box;
    background-repeat: no-repeat;
    border-image: 
       linear-gradient(
         #0000      calc(50% - var(--b)/2),
         var(--c) 0 calc(50% + var(--b)/2),
         #0000    0) 
      1/0 var(--w)/calc(var(--w) + var(--g));
    margin-inline: auto;
  }
  
  
  
 p {
    font-size: 1.3rem;
    text-align: justify;
    margin-inline: max(20px, 50% - 800px/2);
  }
   h1 {
    font-size: 2.3rem;
  }
 h2 {
    font-size: 1.8rem;
  }

    @media screen and (max-width: 768px) {
    p {
      text-align:unset; /* Define a margem inline como automática para centralizar o texto */
    }
  }

  @import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
.snip1533 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #9e9e9e;
  display: inline-block;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  max-width: 310px;
  min-width: 250px;
  position: relative;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
  border-radius: 15px;
  border-top: 5px solid #d2652d;
}

.snip1533 *,
.snip1533 *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.snip1533 figcaption {
  padding: 13% 10% 12%;
}

.snip1533 figcaption:before {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: #d2652d;
  content: "\f10e";
  font-family: 'FontAwesome';
  font-size: 32px;
  font-style: normal;
  left: 50%;
  line-height: 60px;
  position: absolute;
  top: -30px;
  width: 60px;
}

.snip1533 h3 {
  color: #3c3c3c;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  margin: 10px 0 5px;
}

.snip1533 h4 {
  font-weight: 400;
  margin: 0;
  opacity: 0.5;
}

.snip1533 blockquote {
  font-style: italic;
  font-weight: 300;
  margin: 0 0 20px;
}

.figu .snip1533 p{
  text-align: center;

}


/* Demo purposes only */

body {
  text-align: center;
}

.figu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Espaçamento entre as figuras */
}

.qrCode {
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  width: 320px;
  height: 320px;
  margin: 0 auto;
}


.qrCode-header {
  border-width:1px;
  border-color:#000000;
  width:280px;
  height:140px;
  margin-left:20px;
}
.qrCode-header img{
  width: 192px;
  height: 266;
}

.qrCode-body {
  text-align: center;
  padding: 25px 0;
}

.qrCode-body img {
  max-width: 100%;
}

#qrCodeBtn{
  margin-left:20px;
}

#IconePix{
  margin-left:20px;
}

