 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    box-sizing: border-box;
}

:root{
    --container-color: #1a1e21 ;
    --second-color: #ee6707 ;
    --text-color: #172317 ;
    --bg-color: #f9f9f9 ;
}

::selection{
    color: var(--bg-color);
    background: var(--second-color);
}

.post-link.hidden {
    display: none;
}

.c-item {
    height: 600px;
  }
  
  .c-img {
    height: 100%;
    object-fit: cover;
  }

  #hero-carousel .carousel-item .btn-dark{
    background: var(--second-color);
   }

a{
    text-decoration: none;
}
li{
    list-style: none;
}
img {
    width: 100%;
}
section{
    padding: 3rem 0 2rem;
}

.contain{
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

.container .justify-content-end .btn-dark{
    background: var(--second-color);
   }
   

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--container-color);
    z-index: 200;  
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
}
.logo{
    font-size: 1.5rem;
    font-weight: 600;
    color: #bdc3c7;
}

.logo span{
    color: var(--second-color);
}

.navLink{
    color: var(--second-color);
    margin-right: 20px;
}

.justify-content-end a:hover{
    background-color:rgb(59, 59, 59) !important;
   }

.whats{
   position: fixed; bottom: 30px; right: 30px; z-index: 9999;
}
.likedin{
    position: fixed; bottom: 90px; right: 30px; z-index: 9999;
 }

.nav .whats img{
    width:50px;
   }

.nav .likedin img{
    width:50px;
   }

.home{
    width: 100%;
    min-height: 440px;
    background: var(--container-color);
    display: grid;
    justify-content: center;
    align-items: center;
}
.home-text{
    color:var(--bg-color);
    text-align: center;
}
.home-title{
    font-size: 3.5rem;
}
.home-subtitle{
    font-size: 1rem;
    font-weight: 400;
}

.post .post-link .post-box{
    text-decoration:none;
   }
   
   .post .post-link{
    color:#0e0e0f;
    text-decoration:none;
   }

.post{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,auto));
    justify-content: center;
    gap: 1.5rem;
}
.post .post-link .post-box{
    background: var(--bg-color);
    box-shadow: 0 4px 14px hsl(355deg 25% 15% / 10%);
    padding: 15px;
    border-radius: 0.5rem;
}
.post .post-box h5{
    font-weight:300;
    font-size:16px;
   }

   .post .post-box h2{
    position:relative;
    top:4px;
   }

   #ver-mais-button {
    display: block;
    margin: 0 auto; /* Isso centraliza o botão horizontalmente */
    background: var(--second-color);
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

   #ver-mais-button:hover{
    background-color:rgb(59, 59, 59) !important;
   }
     
.post-img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
}
.post-box:hover img {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}


   .post .profile span{
    font-weight:600;
   }
 .post-title{
     font-size: 1.3rem;
    font-weight: 600;
    color: var(--text-color);
    
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.post-description{
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin: 5px 0 10px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.profile{
    display: flex;
    align-items: center;
    gap: 10px;
}
.profile-img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 2px solid var(--second-color);
}

.carousel-slide {
    width: 100%;
}

.carousel-slide img {
    width: 100%;
}

.profile-area{
    padding: 80px 0;
    padding-bottom: 10px;
}
.profile-area .perfil .main-text{
    position:relative;
    top:-29px;
   }


.card.perfil{
box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
overflow: hidden;
border-radius: 15px;
}

.img1 img{
    height: 200px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%;
}
.img2 img{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 7px solid #fff;
    margin-top: -80px;
}

.main-text{
    padding: 30px 0;
    text-align: center;
}
.main-text h2{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20px;
    margin: 0 0 5px;
}
.main-text p{
    font-size: 16px;
    padding: 0 35px;
}
.socials{
    text-align: center;
    padding-bottom: 20px;
}
.socials i{
    font-size: 20px;
    color: var(--second-color);
    padding: 0 10px;
}

#footer {
    color: #fff;
    font-size: 12px;
    position: relative; /* Alterado para relative */
    bottom: -200px; /* Adicionado para fixar na parte inferior */
    width: 100%;
    z-index: 200;
    background-color: var(--container-color);
}
